<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Sábios do Multiverso</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <div class="container">
    <h1>✨ Sábios do Multiverso ✨</h1>
    <div class="quote-card">
      <p class="quote">"<%= content %>"</p>
      <p class="author">— <%= author %></p>
      <form method="get" action="/">
        <button class="btn">Me Inspire</button>
      </form>
    </div>
  </div>
</body>
</html>